In [18]:
import numpy as np
import pandas as pd

data = pd.read_csv("..\\Datasets\\Position_Salaries.csv", header=0)

UsageError: Line magic function `%print` not found.

In [19]:
data

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000